parameters:
    app: authentication

    discovery_host: api.discovery.ds

    database_host: authentication_db
    database_port: 5432
    database_name: authentication
    database_user: authentication
    database_password: authentication

    jwt_private_key_path: '/run/secrets/jwt/key'
    jwt_public_key_path: '/run/secrets/jwt/key.pub'
    jwt_key_pass_phrase: ''
    jwt_token_ttl: 86400

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_port: ~
    mailer_user: admin@localhost
    mailer_password: ~

    secret: secret

    cors_allow_origin: '*'
